.guided-breathing {

  .guided-breathing-title {
    text-align: center;
    color: black;
  }

  .guided-breathing-counter {
    font-size: 50px;
  }
  
  .lung-icon {
    width: 20%;
    height: 20%;
  }
  
  @keyframes breathing {
    0% {
      transform: scale(0.5);
    }
  
    20% {
      transform: scale(0.6);
    }

    60% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(0.5);
    }
  }
  
  .active-button {
    background: rgb(144, 212, 144);
    &:focus {
      background: rgb(144, 212, 144);
    }
  }
}

@media (max-width: 700px) {
  .guided-breathing {
    .lung-icon {
      width: 40%;
      height: 40%;
    }
  }
}
