.app {
  text-align: center;
  background-image: url(./media/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 200px;

  .app-header {
    background-color: black;
    color: white;
    height: 40px;
    text-align: left;
  
    .header-icon {
      height: 100%;
      color: white;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}





