.app {
  text-align: center;
  height: 100vh;
  background-image: url(./media/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.app-header {
  background-color: #282c34;
  color: white;
  height: 5%;
  text-align: left;
}

.app-header .header-icon {
  height: 100%;
  /* width: 10vw; */
  color: white;
}

.app-title {
  text-align: center;
  color: black;
}



