.app {
  text-align: center;
  background-image: url(./media/bg2.png);
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0 100px 0;

  .app-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    text-align: left;
  
    .header-icon {
      height: 100%;
      color: white;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  .app {
    padding: 100px 0 200px 0;
  }
}




