.watch-time-text {
  font-size: 100px;
  color: black
}

.watch-status-text {
  font-size: 20px;
}

.watch-action-button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: black;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
}

.watch-action-button:hover {
  background: grey;
}

.watch-action-button:focus {
  outline: none;
}

.watch-action-button:active {
  transform: scale(1.5);
}

.heart-icon {
  width: 20%;
  height: 20%;
}

.heart-icon-animated {
  animation: heartbeat 1s infinite;
}

.heart-icon-animated img {
  color: red;
  background-color: red;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}